#trecias{
  width: 100%;
  height: auto;
}


#trecias:hover::before{
  opacity: 0;
  transition: 2s
}

#trecias::before {
content:url("../images/sakura1.png");
left: 32%;
position: absolute;
transform: translateX(-100%) translateY(-50%);
transition: 0.3s;
z-index:-1;
}

#trecias::after{
content:url("../images/sakura1.png");
transform: rotate(303deg);
position: absolute;
right: 7%;
top: 20%
}

#trecias:hover::after{
  opacity: 0;
  transition: 2s
}
